<div id="wrapper">
    <div class="row-offcanvas row-offcanvas-left">
        <div id="sidebar-fix" class="sidebar-offcanvas">
            <div class="col-md-12">
                <div class="side-logo">
                    <a class="clearfix" href="/"><img class="img-circle" src="imgs/ryan.jpg" alt="Photo"></a>
                </div><!-- end photo -->
                <ul class="sidebar-nav clearfix">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Applications</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="social-icons text-center clearfix">
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="LinkedIn" href="#"><i class="fa fa-linkedin"></i></a></span>
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                </div><!-- end social icons -->
            </div><!-- end col -->
        </div><!-- end sidebar -->
        <div id="main" class="row-fluid">
            <div class="col-md-12">
                <div class="visible-sm visible-xs mobile-menu">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="fa fa-bars"></i></button>
                </div>
                <div class="row">
                    <div class="leftside-col">
                        <div class="photo-gallery wow fadeIn">
                            <img src="imgs/mac_workspace3.jpg" alt="" class="img-responsive">
                            <div class="gallery-desc">
                                <h3><a href="gallery.html" title="">Ryan's Portfolio</a></h3>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div> <!-- end main -->
    </div> <!-- end offcanvas row -->
</div> <!-- end wrapper -->
