<div id="wrapper">
    <div class="row-offcanvas row-offcanvas-left">
        <div id="sidebar-fix" class="sidebar-offcanvas">
            <div class="col-md-12">
                <div class="side-logo">
                    <a class="clearfix" href="/"><img class="img-circle" src="imgs/ryan.jpg" alt="Photo"></a>
                </div><!-- end photo -->
                <ul class="sidebar-nav clearfix">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Applications</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/imgs/Andrew_Carpenter_Resume.pdf">Resume</a></li>
                </ul>
                <div class="social-icons text-center clearfix">
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="LinkedIn" href="#"><i class="fa fa-linkedin"></i></a></span>
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                </div><!-- end social icons -->
            </div><!-- end col -->
        </div><!-- end sidebar -->
        <div id="main" class="row-fluid">
            <div class="col-md-12">
                <div class="visible-sm visible-xs mobile-menu">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="fa fa-bars"></i></button>
                </div>
                <div class="row">
                    <div class="leftside-col">
                        <div class="photo-gallery wow fadeIn">
                            <img src="imgs/mac_workspace3.jpg" alt="" class="img-responsive">
                            <div class="gallery-desc">
                                <h3><a href="gallery.html" title="">Ryan's Portfolio</a></h3>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
            <div class="col-md-12">
                <div class="row">
                    <div class="leftside-col">
                        <section class="full-image-section bgpatttern clearfix">
                            <div class="row-fluid">
                                <div class="pull-right image-container col-md-7 col-sm-4 clearfix">
                                    <div class="background-image-wrapper wow slideInUp section-padding animated" style="visibility: visible; animation-name: slideInUp;">
                                        <img class="background-image" alt="" src="imgs/ryan.jpg">
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row-fluid">
                                        <div class="section-content col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-0 clearfix">
                                            <div class="section-title text-left">
                                                <h3>Andrew <span>Ryan</span> Carpenter</h3>
                                            </div><!-- end section title -->

                                            <div class="widget">
                                                <div id="accordion-first" class="clearfix">
                                                    <div class="accordion" id="accordion1">
                                                        <div class="accordion-group">
                                                            <div class="accordion-heading">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                                                    <em class="fa fa-minus icon-fixed-width"></em>About me
                                                                </a>
                                                            </div>
                                                            <div id="collapseOne1" class="accordion-body collapse in">
                                                                <div class="accordion-inner">
                                                                    <p>Phasellus scelerisque est non eros commodo auctor a fringilla elit. Maecenas mattis<br> venenatis euismod. Nunc eget cursus lacus, in vehicula nibh. Suspendisse auctor orci vitae<br> tellus viverra..</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="accordion-group">
                                                            <div class="accordion-heading">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne2">
                                                                    <em class="fa fa-plus icon-fixed-width"></em>Fav new technologies?
                                                                </a>
                                                            </div>
                                                            <div id="collapseOne2" class="accordion-body collapse">
                                                                <div class="accordion-inner">
                                                                    <p>Phasellus scelerisque est non eros commodo auctor a fringilla elit. Maecenas mattis<br> venenatis euismod. Nunc eget cursus lacus, in vehicula nibh. Suspendisse auctor orci vitae<br> tellus viverra..</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="accordion-group">
                                                            <div class="accordion-heading">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne3">
                                                                    <em class="fa fa-plus icon-fixed-width"></em>hahah
                                                                </a>
                                                            </div>
                                                            <div id="collapseOne3" class="accordion-body collapse">
                                                                <div class="accordion-inner">
                                                                    <p>Phasellus scelerisque est non eros commodo auctor a fringilla elit. Maecenas mattis<br> venenatis euismod. Nunc eget cursus lacus, in vehicula nibh. Suspendisse auctor orci vitae<br> tellus viverra..</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="accordion-group">
                                                            <div class="accordion-heading">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne4">
                                                                    <em class="fa fa-plus icon-fixed-width"></em>lololol
                                                                </a>
                                                            </div>
                                                            <div id="collapseOne4" class="accordion-body collapse">
                                                                <div class="accordion-inner">
                                                                    <p>Phasellus scelerisque est non eros commodo auctor a fringilla elit. Maecenas mattis<br> venenatis euismod. Nunc eget cursus lacus, in vehicula nibh. Suspendisse auctor orci vitae<br> tellus viverra..</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="accordion-group">
                                                            <div class="accordion-heading">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne5">
                                                                    <em class="fa fa-plus icon-fixed-width"></em>More stuff
                                                                </a>
                                                            </div>
                                                            <div id="collapseOne5" class="accordion-body collapse">
                                                                <div class="accordion-inner">
                                                                    <p>Phasellus scelerisque est non eros commodo auctor a fringilla elit. Maecenas mattis<br> venenatis euismod. Nunc eget cursus lacus, in vehicula nibh. Suspendisse auctor orci vitae<br> tellus viverra.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- end accordion -->
                                                </div><!-- end accordion first -->
                                            </div><!-- end widget -->
                                        </div><!-- end col -->
                                    </div><!-- edn row -->
                                </div><!-- end container -->
                            </div><!-- end row -->
                        </section>
                    </div>
                </div>
            </div>
            <section id="skills-parallax" class="skills-parallax" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="">
                <div class="section-title">
                    <h3>Recent Applications </h3>
                </div>
            </section> <!-- end parallax -->
             <section class="logos-section">
               <h3 style="text-align:center">Technologies used:</h3>
               <div class="container">
                   <div class="row">
                       <div class="col-lg-1">
                           <img src="imgs/html5.png" alt="" class="img-responsive">
                           <small>HTML5</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/css3.png" alt="" class="img-responsive">
                           <small>CSS3</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/ruby_rough.png" alt="" class="img-responsive">
                           <small>Ruby</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/javascript.png" alt="" class="img-responsive">
                           <small>Javascript</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/ror.png" alt="" class="img-responsive">
                           <small>Ruby on Rails</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/nodejs.png" alt="" class="img-responsive">
                           <small>Node.js</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/npm.png" alt="" class="img-responsive">
                           <small>npm</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/mongodb.png" alt="" class="img-responsive">
                           <small>MongoDB</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/react.png" alt="" class="img-responsive">
                           <small>React</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/bootstrap.png" alt="" class="img-responsive">
                           <small>Bootstrap</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/firebase.png" alt="" class="img-responsive">
                           <small>Firebase</small>
                       </div>
                       <div class="col-lg-1">
                           <img src="imgs/heroku.png" alt="" class="img-responsive">
                           <small>Heroku</small>
                       </div>
                   </div>
               </div>
           </section><!-- end logos-section -->
           <section class="section-white clearfix">
                <div id="second" class="container bf box space">
                    <!-- Items -->
                    <ul id="two-col-portfolio" class="items with-text row-fluid bflayhover bfhover3 space" style="height:700px; transition-duration: 0.5s;">
                        <!-- single item -->
                        <li class="cat1 un-scale" style="opacity: 1; position: absolute; top: 0px; left: 0px; transition-duration: 0.5s;">
                            <div class="bf-single-item wow fadeIn animated" style="transition-duration: 0.5s; visibility: visible; animation-name: fadeIn;">
                                <img src="imgs/landingpage.png" alt="" style="transition-duration: 0.5s;">
                                <div class="caption" style="color: rgb(255, 255, 255); text-align: center; transition-duration: 0.5s; background: rgb(3, 172, 220);">
                                    <div class="cap-in">
                                        <a href="#" title=""><span class="bubble border-radius"><i class="fa fa-github-alt 2x"></i></span></a>
                                        <a href="#" title=""><span class="bubble border-radius"><i class="fa fa-link"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caps-desc">
                                <h3><a href="portfolio-single-one.html" title="">The Hufts</a></h3>
                                <p>The Hufts</p>
                            </div>
                        </li>
                        <!-- single item -->

                        <li class="cat2 cat1 un-scale" style="opacity: 1; position: absolute; top: 0px; left: 585px; transition-duration: 0.5s;">
                            <div class="bf-single-item wow fadeIn animated" style="transition-duration: 0.5s; visibility: visible; animation-name: fadeIn;">
                                <img src="imgs/notester.png" alt="" style="transition-duration: 0.5s;">
                                <div class="caption" style="color: rgb(255, 255, 255); text-align: center; transition-duration: 0.5s; background: rgb(3, 172, 220);">
                                    <div class="cap-in">
                                        <a href="#" title=""><span class="bubble border-radius"><i class="fa fa-github-alt 2x"></i></span></a>
                                        <a href="#" title=""><span class="bubble border-radius"><i class="fa fa-link"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caps-desc">
                                <h3><a href="portfolio-single-one.html" title="">Notester</a></h3>
                                <p>Stuff</p>
                            </div>
                        </li>
                        <!-- single item -->
                        <li class="cat3 un-scale" style="opacity: 1; position: absolute; top: 587px; left: 0px; transition-duration: 0.5s;">
                            <div class="bf-single-item wow fadeIn animated" style="transition-duration: 0.5s; visibility: visible; animation-name: fadeIn;">
                                <img src="#" alt="" style="transition-duration: 0.5s;">
                                <div class="caption" style="color: rgb(255, 255, 255); text-align: center; transition-duration: 0.5s; background: rgb(3, 172, 220);">
                                    <div class="cap-in">
                                        <a href="#" title=""><span class="bubble border-radius"><i class="fa fa-github-alt 2x"></i></span></a>
                                        <a href="#" title=""><span class="bubble border-radius"><i class="fa fa-link"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caps-desc">
                                <h3><a href="portfolio-single-one.html" title="">App name</a></h3>
                                <p>description</p>
                            </div>
                        </li>
                        <!-- single item -->
                        <li class="cat1 cat3 un-scale" style="opacity: 1; position: absolute; top: 587px; left: 585px; transition-duration: 0.5s;">
                            <div class="bf-single-item wow fadeIn animated" style="transition-duration: 0.5s; visibility: visible; animation-name: fadeIn;">
                                <img src="" alt="" style="transition-duration: 0.5s;">
                                <div class="caption" style="color: rgb(255, 255, 255); text-align: center; transition-duration: 0.5s; background: rgb(3, 172, 220);">
                                    <div class="cap-in">
                                        <a href="#" title=""><span class="bubble border-radius"><i class="fa fa-github-alt 2x"></i></span></a>
                                        <a href="#" title=""><span class="bubble border-radius"><i class="fa fa-link"></i></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caps-desc">
                                <h3><a href="portfolio-single-one.html" title="">App name</a></h3>
                                <p>description</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="col-md-12">
                <div class="row">
                    <div class="leftside-col">
                        <footer id="footer-second" class="footer clearfix">
                            <div class="container-full">
                                <div class="row-full">
                                    <div class="col-md-3 col-sm-3 square-service">
                                        <div class="widget text-center wow fadeIn">
                                            <div class="about-widget">
                                                <span class="icon-container border-radius color-gray wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-map-marker"></i></span>
                                                <h3>Address</h3>
                                                <p>San Francisco, Ca</p>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-md-3 col-sm-3 square-service">
                                        <div class="widget text-center wow fadeIn">
                                            <div class="about-widget">
                                                <span class="icon-container border-radius color-gray wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-phone"></i></span>
                                                <h3>Phone Number</h3>
                                                <p>(808) 258-4728</p>
                                            </div>
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-md-3 col-sm-3 square-service">
                                        <div class="widget text-center wow fadeIn">
                                            <div class="about-widget">
                                                <span class="icon-container border-radius color-gray wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-envelope-o"></i></span>
                                                <h3>E-Mail</h3>
                                                <p>arcytech77@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 square-service">
                                        <div class="widget text-center wow fadeIn">
                                            <div class="about-widget">
                                                <span class="icon-container border-radius color-gray wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-sticky-note"></i></span>
                                                <h3>Resume</h3>
                                                <a href="/imgs/Andrew_Carpenter_Resume.pdf"><strong>Click to View</strong></a>
                                                <p>
                                                    <a href="/imgs/Andrew_Carpenter_Resume.pdf" download=""><strong>Click to Download!</strong></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end row -->
                            </div><!-- end container -->
                        </footer><!-- end footer -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div> <!-- end main -->
    </div><!-- row-offcanvas -->
</div><!-- wrapper -->



