<div id="wrapper">
    <div class="row-offcanvas row-offcanvas-left">
        <div id="sidebar-fix" class="sidebar-offcanvas">
            <div class="col-md-12">
                <div class="side-logo">
                    <a class="clearfix" href="/"><img class="img-circle" src="imgs/ryan.jpg" alt="Photo"></a>
                </div><!-- end photo -->
                <ul class="sidebar-nav clearfix">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Applications</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/imgs/Andrew_Carpenter_Resume.pdf">Resume</a></li>
                </ul>
                <div class="social-icons text-center clearfix">
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="LinkedIn" href="#"><i class="fa fa-linkedin"></i></a></span>
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                </div><!-- end social icons -->
            </div><!-- end col -->
        </div><!-- end sidebar -->
        <div id="main" class="row-fluid">
            <div class="col-md-12">
                <div class="visible-sm visible-xs mobile-menu">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="fa fa-bars"></i></button>
                </div>
                <div class="row">
                    <div class="leftside-col">
                        <div class="photo-gallery wow fadeIn">
                            <img src="imgs/mac_workspace3.jpg" alt="" class="img-responsive">
                            <div class="gallery-desc">
                                <h3><a href="gallery.html" title="">Ryan's Portfolio</a></h3>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
            <div class="col-md-12">
                <div class="row">
                    <div class="leftside-col">
                        <footer id="footer-second" class="footer clearfix">
                            <div class="container-full">
                                <div class="row-full">
                                    <div class="col-md-3 col-sm-3 square-service">
                                        <div class="widget text-center wow fadeIn">
                                            <div class="about-widget">
                                                <span class="icon-container border-radius color-gray wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-map-marker"></i></span>
                                                <h3>Address</h3>
                                                <p>San Francisco, Ca</p>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-md-3 col-sm-3 square-service">
                                        <div class="widget text-center wow fadeIn">
                                            <div class="about-widget">
                                                <span class="icon-container border-radius color-gray wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-phone"></i></span>
                                                <h3>Phone Number</h3>
                                                <p>1223456781</p>
                                            </div>
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-md-3 col-sm-3 square-service">
                                        <div class="widget text-center wow fadeIn">
                                            <div class="about-widget">
                                                <span class="icon-container border-radius color-gray wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-envelope-o"></i></span>
                                                <h3>E-Mail</h3>
                                                <p>hello@mail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 square-service">
                                        <div class="widget text-center wow fadeIn">
                                            <div class="about-widget">
                                                <span class="icon-container border-radius color-gray wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-sticky-note"></i></span>
                                                <h3>Resume</h3>
                                                <a href="/imgs/Andrew_Carpenter_Resume.pdf"><strong>Click to View</strong></a>
                                                <p>
                                                    <a href="/imgs/Andrew_Carpenter_Resume.pdf" download=""><strong>Click to Download!</strong></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end row -->
                            </div><!-- end container -->
                        </footer><!-- end footer -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div> <!-- end main -->
    </div><!-- row-offcanvas -->
</div><!-- wrapper -->
