<div id="wrapper">
    <div class="row-offcanvas row-offcanvas-left">
        <div id="sidebar-fix" class="sidebar-offcanvas">
            <div class="col-md-12">
                <div class="side-logo">
                    <a class="clearfix" href="/"><img src="#" alt="Photo"></a>
                </div><!-- end logo -->
                <ul class="sidebar-nav clearfix">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Applications</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="social-icons text-center clearfix">
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="LinkedIn" href="#"><i class="fa fa-linkedin"></i></a></span>
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                    <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
                </div><!-- end social icons -->
            </div><!-- end col -->
        </div><!-- end sidebar -->
    </div>
</div>
